alembic
apscheduler
bcrypt
fastapi[standard]
langchain
langchain-community
langchain-core
langchain-openai
langchain-qdrant
langchain-text-splitters
langchain_community
mangum==0.19.0
numpy
openai
pydantic
PyJWT
python-dotenv
pytz
qdrant-client
requests
SQLAlchemy
sqlmodel
tiktoken
websockets
